@import "../../../scss/_variables";

* {
	margin: 0;
	padding: 0;
}

.header {
	display: flex;
	justify-content: space-between;
	padding: 31px;
	background: $lightBrown;
}

.btn {
	padding: 0;
	background-color: transparent;
	border: none;
	cursor: pointer;
}
